# Lambda

The **lambda** operator or lambda function is a way to create small anonymous functions, i.e. functions without a name. These functions are throw-away functions, i.e. they are just needed where they have been created. Lambda functions are mainly used in combination with the functions `filter(), map() and reduce()`.

## Syntax

The general syntax of a `lambda` function is quite simple:  
**lambda argument_list: expression**

In [1]:
def addtwo(x,y):
    return(x+y)
addtwo(10,20)

30

In [5]:
f=lambda x,y:x+y
f(10,20)

30

In [8]:
f1=lambda x: x**2
f1(144)

20736

## The map() Function

The advantage of the `lambda` operator can be seen when it is used in combination with the `map()` function.  
**map()** is a function with two arguments:

### `r = map(func, seq)`

The first argument func is the name of a function and the second a sequence (e.g. a list) seq. **map()** applies the function func to all the elements of the sequence seq.   It returns a new list with the elements changed by func

In [9]:
lst = [1,2,3,4,5,6]

In [4]:
def sq_num(x):
    return(x**2)

In [5]:
sq_num(12)

144

In [9]:
sq_lst=list(map(sq_num,lst))
sq_lst

[1, 4, 9, 16, 25, 36]

In [10]:
for i in map(sq_num,lst):
    print(i)

1
4
9
16
25
36

In [12]:
for i in map(lambda x:x**2,lst):
    print(i)

1
4
9
16
25
36

In [8]:
result = map(lambda x:x**2,lst)
result= list(result)
print(result)

[1, 4, 9, 16, 25, 36]

In [9]:
for i in result:
    print(i)

1
4
9
16
25
36

In [21]:
list_a = [10,20,30]
list_b = [40,50,60]

In [22]:
result = map(lambda x,y : x+y, list_a,list_b)
for i in result:
    print(i)

50
70
90

In [17]:
def fahrenheit(T):
    return ((9/5)*T + 32)

def celsius(T):
    return ((5/9)*(T-32))

temp = [36.5, 37, 37.5,39]
# for i in map(fahrenheit, temp):
#     print(i)

F = list(map(fahrenheit, temp))
print(F)

C = list(map(celsius,F))
print(C)

[97.7, 98.60000000000001, 99.5, 102.2]
[36.5, 37.00000000000001, 37.5, 39.0]

In the example above we haven't used lambda. By using lambda, we wouldn't have had to define and name the functions `fahrenheit()` and `celsius()`.

In [11]:
temp = (36.5, 37, 37.5,39)
Fahrenheit = list(map(lambda T : (9/5)*T + 32,temp))
Celcius = list(map(lambda T:(5/9)*(T -32),Fahrenheit))
print(Celcius)
print(Fahrenheit)

[36.5, 37.00000000000001, 37.5, 39.0]
[97.7, 98.60000000000001, 99.5, 102.2]

**map()** can be applied to more than one list. The lists don't need to have the same length. `map()` will apply its `lambda` function to the elements of the argument lists, i.e. it first applies to the elements with the 0th index, then to the elements with the 1st index until the n-th index is reached:

In [9]:
f=lambda t1,t2:(9/5)*t1+t2
temp1=[40,50,60]
temp2=[60,50,60,70]
r=list(map(f,temp1,temp2))  # map function return list of results return by a function on the base of different parameters
print(r)

[132.0, 140.0, 168.0]

In [52]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
func1 = list(map(lambda x,y:x+y, a,b))
func2 = list(map(lambda x,y,z:x+y+z, a,b,c))
func3 = list(map(lambda x,y,z:x+y-z, a,b,c))
print(func1)
print(func2)
print(func3)

[18, 14, 14, 14]
[17, 10, 19, 23]
[19, 18, 9, 5]

We can see in the example above that the parameter x gets its values from the list a, while y gets its values from b and z from list c.

### Filtering

The function **filter(function, list)** offers an elegant way to filter out all the elements of a list, for which the function function returns `True`.   
The function **filter(f,l)** needs a function f as its first argument. f returns a Boolean value, i.e. either True or False.     
  
This function will be applied to every element of the list l.  

Only if f returns True will the element of the list be included in the result list.

In [15]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = list(filter(lambda x: x % 2!=0, fib))
print(result)

result2 = list(filter(lambda x: x % 2 == 0, fib))
print(result2)

[1, 1, 3, 5, 13, 21, 55]
[0, 2, 8, 34]

## Reducing a List

The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value. 

If seq = [ s1, s2, s3, ... , sn ], calling `reduce(func, seq)` works like this:  
+ At first the first two elements of seq will be applied to func, i.e. func(s1,s2).The list on which reduce() works looks now like this: [ func(s1, s2), s3, ... , sn ]
+ In the next step func will be applied on the previous result and the third element of the list, i.e. func(func(s1, s2),s3)
The list looks like this now: [ func(func(s1, s2),s3), ... , sn ]  
+ Continue like this until just one element is left and return this element as the result of `reduce()`

In [23]:
from functools import reduce

In [24]:
reduce(lambda x,y: x+y, [47,11,42,13])

113

## Combining lambda, map and reduce in one

### Exercise : A store maintains a list of all customers with the customer number and the price of each item purchased by the customer. Find the total amount for each customer.

In [6]:
orders = [[1,(100,500.50,450)],[2,(200,300.75,450.50)],[3,(400,300.50,650.50)]]
print(orders)

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [9]:
list(map(lambda x: [x[0]],orders))

[[1], [2], [3]]

In [25]:
reduce(lambda a,b: a + b, orders[0][1])

1050.5

In [7]:
invoice_totals = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1])], orders))
print (invoice_totals)

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

## enumerate() function:
### enumerate() adds a counter to an iterable and returns a function object.

In [16]:
l1 = ['Hello','World','hi']
print(list(enumerate(l1,start=10)))

[(10, 'Hello'), (11, 'World'), (12, 'hi')]

## zip() function:
### zip() takes number of iterables as input and returns list of tuples with first element of list 1 and first element of list2 and so on.....

In [17]:
l1 = [1,2,3,4]
l2 = ['a','b','c','d']
l3 = [1.1,2.1,3.1,4.1]
print(list(zip(l1,l2,l3)))

[(1, 'a', 1.1), (2, 'b', 2.1), (3, 'c', 3.1), (4, 'd', 4.1)]